@page
@model IndexModel
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage"/>

<br>
@if (!string.IsNullOrEmpty(Model.user?.ImageFileName))
{
	<div>
		<img src="~/profile-images/@Model.user.ImageFileName" alt="Profile Picture" width="100" height="100"/>
	</div>
}
else
{
	<div>
		<img src="~/profile-images/user.png" alt="Default Profile Picture" width="100" height="100"/>
	</div>
}
<br>
<div>
	Name: @Model.user?.Name
</div>
<div>
	Email: @Model.user?.Email
</div>
<div>
	Phone: @Model.user?.PhoneNumber
</div>
<div>
	Address: @Model.user?.Address
</div>
<br>
<div>
	<form method="post" enctype="multipart/form-data" asp-page-handler="UploadImage" class="d-inline">
		<div class="mb-3">
			<label for="profileImage" class="form-label">Update Profile Picture:</label>
			<input type="file" class="form-control" id="profileImage" name="ImageFile">
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>
	@if (!string.IsNullOrEmpty(Model.user?.ImageFileName) && Model.user?.ImageFileName != "default.png")
	{
		<form method="post" asp-page-handler="RemoveImage" class="d-inline">
			<button type="submit" class="btn btn-danger">Remove</button>
		</form>
	}
</div>