@model Library_Management.Models.BookSubsidiary

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this book-subsidiary?</h3>
<div>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Quantity)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Quantity)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Book)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Book.Title)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Subsidiary)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Subsidiary.Name)
		</dd>
	</dl>
    
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a class="btn btn-outline-primary" asp-action="Index" role="button">Cancel</a>
	</form>
</div>